.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}


@media (max-width: 1400px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .projects {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
