.project {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  overflow: hidden;
  
  a {
    opacity: 0.5;
  }
}

.img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links {
  display: flex;
  gap: 15px;
}
